account-service/src/main/resources/xsd/accounts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://banka.com/accountservice"
           targetNamespace="http://banka.com/accountservice"
           elementFormDefault="qualified">

    <xs:element name="getAccountDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAccountDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="ownerName" type="xs:string"/>
                <xs:element name="balance" type="xs:decimal"/>
                <xs:element name="currency" type="tns:currencyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ownerName" type="xs:string"/>
                <xs:element name="initialBalance" type="xs:decimal"/>
                <xs:element name="currency" type="tns:currencyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="currencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRY"/>
            <xs:enumeration value="USD"/>
            <xs:enumeration value="EUR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="updateBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="operationType" type="tns:operationType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
                <xs:element name="newBalance" type="xs:decimal"/>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="operationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBIT"/>
            <xs:enumeration value="CREDIT"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>